#notification {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;

}

.game-page {
    margin-top: 40px;
    margin-bottom: 35px;
}

#login-page, #question-page {
    padding: 10px;
}

.login-hint {
   margin: 10px 0;
}

#login {
    width: 100%
}

.loading:before {
    content:url(../res/loading.gif);
    background-size:contain;
}

.i-want-title {
    width: 90%;
    font-size: 20px;
}

.i-want-block {
    padding : 10px;
}

.i-want-block-content {
    border: 1px dashed lightgray;
    padding: 10px;
    transition: all 1s ease;
}

.i-want-btn {
    width: 90%;
    max-width: 200px;
    margin: 3px 0;
}

.length-title, #question-input , #difficulty-select{
    margin: 8px;
}

#drawing-canvas {
    border:1px dotted #000000;
    box-shadow: 0 0 15px 0 black inset;
}

#canvas-bar {
    margin: 5px;
}

#submit-drawing {
    margin: 5px 5% 0;
    width:80%;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.bottom-bar-btn {
    width: 24%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#notification {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    z-index: 100;
}

#notification.normal {
    background-color: lightgreen;
}

#notification.danger {
    background-color: lightcoral;
}
#notification.warning {
    background-color: orange;
}
#notification.none {
    background-color: transparent;
}

#game-type-select {
    margin:5px;
}

.frames {
    margin-bottom: 40px;
}

.game-item {
    border: 1px dotted black;
    display: block;
    margin: 5px;
    padding: 5px;
}
.game-item .difficulty-label {
    float:right;
}

#drawing-canvas {
    box-shadow: 5px inset black;
}

.writing {
    padding: 5px;
    border-top: 1px dashed black;
}

.drawing {
    padding: 5px;
    border-top: 1px dashed black;
}

#share-mask {
    background-color: rgba(128, 128, 128, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
}

#share-mask #arrow {
    position: absolute;
    right: 5px;
    top: 5px;
}

.difficulty-label {
    padding: 2px 5px;
    border-radius: 5px;
}
.difficulty-0 {
    border:1px solid #000000;
}
.difficulty-1 {
    border:1px solid #000000;
    background-color: lightgreen;
}
.difficulty-2 {
    border:1px solid #000000;
    background-color: lightblue;
}
.difficulty-3 {
    border:1px solid #000000;
    background-color: orange;
}
.difficulty-4 {
    border:1px solid #000000;
    background-color: lightcoral;
}