<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>画话接力</title>
    <meta name="description" content="画话接力">
    <!--<link href="css/bootstrap.min.css" rel='stylesheet'/>-->
    <!--<link href="css/iconfont.css" rel='stylesheet'/>-->
    <!--<link href="css/app.css" rel='stylesheet'/>-->
    <link href="publish/css/all.min.css" rel='stylesheet'/>


</head>
<body>
    <section id="login-page" class="game-page" style="display: none">
        <div class="input-group">
            <span class="input-group-addon  iconfont icon-account"></span>
            <input type="text" class="form-control" placeholder="昵称" id='user-name'/>
        </div>
        <div class="login-hint">本系统没有用户系统，请任意输入昵称即可</div>
        <button type="button" class="btn btn-primary" id='login'>登录</button>
    </section>

    <!--<script src="js/vendor/jquery-2.1.1.min.js"></script>-->
    <!--<script src="js/vendor/underscore-min.js"></script>-->
    <!--<script src="js/vendor/av-core-mini-0.6.4.js"></script>-->
    <!--<script src="js/vendor/hammer.min.js"></script>-->
    <!--<script src="js/vendor/jquery.hammer.js"></script>-->
    <!--<script src="js/questions.js"></script>-->
    <!--<script src="js/utils.js"></script>-->
    <!--<script src="js/app.js"></script>-->
    <script src="publish/js/all.min.js"></script>

    <div id="notification"></div>

    <img id="placeholder" src="res/icon-big.png" style="z-index: -100;position: fixed;top: 0;left: 0;width: 120px;height:120px;visibility:hidden"/>

    <section id="question-page" class="game-page" style="display: none">
        <div class="i-want-block">
            <label id="question-title" class="i-want-title">我要出题 &gt;</label>
            <div id="i-want-question" class="i-want-block-content" style="display: none">
                <div>
                    <select id="difficulty-select">
                        <option class="difficulty" value="1">难度：简单</option>
                        <option class="difficulty" value="2" selected>难度：普通</option>
                        <option class="difficulty" value="3">难度：困难</option>
                        <option class="difficulty" value="4">难度：疯狂</option>
                        <option class="difficulty" value="0">自选题</option>
                    </select>
                </div>
                <div><input class="" id="question-input" style="display: none"/></div>
                <div>
                    <label class="length-title">接力长度：</label>
                    <select id="length-select">
                        <option class="length-option" value="5">4</option>
                        <option class="length-option" value="5">5</option>
                        <option class="length-option" value="6">6</option>
                        <option class="length-option" value="7">7</option>
                        <option class="length-option" value="8">8</option>
                        <option class="length-option" value="9" selected>9</option>
                        <option class="length-option" value="10">10</option>
                        <option class="length-option" value="11">11</option>
                        <option class="length-option" value="12">12</option>
                        <option class="length-option" value="13">13</option>
                        <option class="length-option" value="14">14</option>
                        <option class="length-option" value="15">15</option>
                        <option class="length-option" value="16">16</option>
                        <option class="length-option" value="17">17</option>
                        <option class="length-option" value="18">18</option>
                        <option class="length-option" value="19">19</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" id='submit-question'>确定</button>
            </div>
        </div>
        <div class="i-want-block">
            <label id="continue-title" class="i-want-title">我要接力 &gt;</label>
            <div id="i-want-continue" class="i-want-block-content" style="display: none">
                <button type="button" class="btn btn-default i-want-btn" id='i-want-draw'>我要画图</button>
                <button type="button" class="btn btn-default i-want-btn" id='i-want-write'>我要猜图</button>
                <button type="button" class="btn btn-default i-want-btn" id='i-want-draw-or-write'>我要画图或猜图</button>
            </div>
        </div>
    </section>


    <section id="write-page" class="game-page" style="display: none">
        <div class="drawing-block">
        </div>
		<span>
			<div><label>猜猜这是神马？</label></div>
			<div>
                <input id='writing-input' placeholder="我猜是？"/>
			    <button id='submit-writing' class='btn btn-primary' type='button'>确定</button>
            </div>
		</span>
    </section>

    <section id="view-page" class="game-page" style="display: none">
        <div class="frames">

        </div>

    </section>

    <section id="square-page" class="game-page" style="display: none">
        <div class="btn-group game-type-select" data-toggle="buttons">
            <label class="btn btn-primary game-type-option active finished-game square">
                <input type="radio" name="options">已完成的接力
            </label>
            <label class="btn btn-primary game-type-option ongoing-game square">
                <input type="radio" name="options">进行中的接力
            </label>
        </div>
        <div class="game-list"></div>
    </section>

    <section id="my-games-page" class="game-page" style="display: none">
        <div class="btn-group game-type-select" data-toggle="buttons">
            <label class="btn btn-primary game-type-option active finished-game my">
                <input type="radio" name="options">已完成的接力
            </label>
            <label class="btn btn-primary game-type-option ongoing-game my">
                <input type="radio" name="options">进行中的接力
            </label>
        </div>
        <div class="game-list"></div>
    </section>

    <section id="draw-page" class="game-page" style="display: none">
        <div>
            <div class="writing-block">
            </div>
            <div id="canvas-block" style=''>
                <canvas id='drawing-canvas' width='500' height='500' style=''>
                </canvas>
                <div id='canvas-bar'>
                    <div id='tools' class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary pen-type pen" id="pen1" pen="1">
                            <input type="radio" name="options"><i class="iconfont icon-pen"></i>1
                        </label>
                        <label class="btn btn-primary pen-type pen active" id="pen3" pen="3">
                            <input type="radio" name="options"><i class="iconfont icon-pen"></i>2
                        </label>
                        <label class="btn btn-primary pen-type pen" id="pen5" pen="5">
                            <input type="radio" name="options"><i class="iconfont icon-pen"></i>3
                        </label>
                        <label class="btn btn-primary pen-type rubber" id="rubber5">
                            <input type="radio" name="options"><i class="iconfont icon-rubber"></i>
                        </label>
                    </div>
                    <button class="btn btn-danger" id="clear-all">清除所有</button>
                    <div>
                        <button id='submit-drawing' class='btn btn-primary'>提交画作</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="share-mask" style="display: none">
        <img id="arrow" src="res/arrow.png">
    </div>

    <div id="bottom-bar" style="display: none">
        <div type="button" id="i-want" class="bottom-bar-btn btn btn-default">我要……</div>
        <div type="button" id="i-want-share" class="bottom-bar-btn btn btn-default">我要分享</div>
        <div type="button" id="square" class="bottom-bar-btn btn btn-default">广场</div>
        <div type="button" id="my-games" class="bottom-bar-btn btn btn-default">我的接力</div>
    </div>

    <script type="text/template" id="drawing-template">
        <div class="drawing">
            <div>
                <span class="user">
                    <% if ( headUrl ) { %>
                    <img class="user-portrait" src="<%= headUrl %>"/>
                    <% } %>
                    <div class="nickname"><%= nickname %></div>
                </span>
                <span>
                    <label class="create-at"><%= relative_time_text(createdAt) %> 画的是</label>
                </span>
            </div>
            <canvas class='viewing-canvas' width='500' height='500' style=''>
            </canvas>
        </div>
    </script>
    <script type="text/template" id="writing-template">
        <div class="writing">
                <span class="user">
                    <% if ( headUrl ) { %>
                    <img class="user-portrait" src="<%= headUrl %>"/>
                    <% } %>
                    <div class="nickname"><%= nickname %></div>
                </span>
                <span>
                    <label class="create-at"><%= relative_time_text(createdAt) %></label>
                    <label class="question-label">
                        <% if ( typeId == 2 ) { %>
                            出题：
                        <% } else { %>
                            说：
                        <% } %>
                        <%= data %></label>
                </span>
        </div>
    </script>

    <script type="text/template" id="game-item-template">
        <div class="game-item" id="<%=objectId%>">
            <% if ( headUrl ) { %>
            <span>
                <img class="user-portrait" src="<%= headUrl %>"/>
            </span>
            <% } %>
            <span class="user">
                <div>
                    <label class="nickname"><%= nickname %></label>
                </div>
                <% if ( finish ) { %>
                <div class="max-length">经过 <%= max %> 次接龙</div>
                <% } else { %>
                <label class="create-at">接力于 <%= relative_time_text(createdAt) %></label>
                <% } %>
                <div>
                    <% if ( finish ) { %>
                    <label class="create-at">完成于 <%= relative_time_text(createdAt) %></label>
                    <% } else { %>
                    <label class="create-at">完成度</label>
                    <div class="progress">
                        <% for ( i = 0 ; i < currentPosition ; i++ ) { %>
                            <i class="iconfont icon-man progress-part complete-part"></i>
                        <% } %>
                        <% for ( i = currentPosition ; i < max; i++ ) { %>
                        <i class="iconfont icon-man progress-part incomplete-part"></i>
                        <% } %>
                    </div>
                    <% } %>
                    <label class="difficulty-label difficulty-<%=difficulty%>">
                        <%= getDifficultyWording(difficulty) %>
                    </label>
                </div>
            </span>
        </div>
    </script>
</body>
</html>
