<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>画话接力</title>
    <meta name="description" content="画话接力">
    <link href="css/bootstrap.css" rel='stylesheet'/>
    <link href="css/app.css" rel='stylesheet'/>


</head>
<body>
    <section id="login-page" class="game-page">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" class="form-control" placeholder="昵称" id='user-name'/>
        </div>
        <div>本系统没有用户系统，请任意输入昵称即可</div>
        <button type="button" class="btn btn-default" id='login'>登录</button>
    </section>

    <script src="js/vender/jquery-2.1.1.min.js"></script>
    <script src="js/vender/underscore-min.js"></script>
    <script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.4.js"></script>
    <script src="js/questions.js"></script>
    <script src="js/vender/hammer.min.js"></script>
    <script src="js/vender/jquery.hammer.js"></script>
    <script src="js/app.js"></script>

    <div id="notification"></div>

    <img id="placeholder" src="res/icon-big.png" style="z-index: -100;position: absolute;top: 0;left: 0;opacity: 0"/>

    <section id="loading-page" class="game-page">

    </section>

    <section id="question-page" class="game-page">
        <div>
        <label class="question-title">我来出题</label>
            <select id="difficulty-select">
                <option class="difficulty" value="1">简单</option>
                <option class="difficulty" value="2" selected>普通</option>
                <option class="difficulty" value="3">困难</option>
                <option class="difficulty" value="4">疯狂</option>
                <option class="difficulty" value="0">自选</option>
            </select>
        </div>
        <div><input class="" id="question-input" style="display: none"/></div>
        <div>
            <label class="length-title">接力长度：</label>
            <select id="length-select">
                <option class="length-option" value="5">5</option>
                <option class="length-option" value="6">6</option>
                <option class="length-option" value="7">7</option>
                <option class="length-option" value="8">8</option>
                <option class="length-option" value="9" selected>9</option>
                <option class="length-option" value="10">10</option>
                <option class="length-option" value="11">11</option>
                <option class="length-option" value="12">12</option>
                <option class="length-option" value="13">13</option>
                <option class="length-option" value="14">14</option>
                <option class="length-option" value="15">15</option>
                <option class="length-option" value="16">16</option>
                <option class="length-option" value="17">17</option>
                <option class="length-option" value="18">18</option>
                <option class="length-option" value="19">19</option>
            </select>
        </div>
        <button type="button" class="btn btn-default" id='submit-question'>确定</button>
    </section>


    <section id="write-page" class="game-page">
        <div class="drawing-block">
        </div>
		<span>
			<div><label>猜猜这是神马？</label></div>
			<div>
                <input id='writing-input' placeholder="我猜是？"/>
			    <button id='submit-writing' class='btn btn-primary' type='button'>确定</button>
            </div>
		</span>
    </section>

    <section id="view-page" class="game-page">
        <div class="frames">

        </div>
        <div class="bottom-bar">
            <button id="i-want-question" class="btn btn-default">我要出题</button>
            <button id="i-want-share" class="btn btn-default">我要分享</button>
        </div>
    </section>


    <section id="draw-page" class="game-page">
        <div>
            <div class="writing-block">
            </div>
            <div id="canvas-block" style=''>
                <canvas id='drawing-canvas' width='500' height='500' style=''>
                </canvas>
                <div id='canvas-bar'>
                    <div id='tools' class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary pen-type pen" id="pen1" pen="1">
                            <input type="radio" name="options">画笔1
                        </label>
                        <label class="btn btn-primary pen-type pen active" id="pen3" pen="3">
                            <input type="radio" name="options">画笔2
                        </label>
                        <label class="btn btn-primary pen-type pen" id="pen5" pen="5">
                            <input type="radio" name="options">画笔3
                        </label>
                        <label class="btn btn-primary pen-type rubber" id="rubber5">
                            <input type="radio" name="options">橡皮
                        </label>
                    </div>
                    <button class="btn btn-danger" id="clear-all">清除所有</button>
                    <div>
                        <button id='submit-drawing' class='btn btn-primary'>提交画作</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/template" id="drawing-template">
        <div class="drawing">
            <div>
                <span class="user">
                    <img class="user-portrait" src="<%= headUrl %>"/>
                    <div class="nickname"><%= nickname %></div>
                </span>
                <span>
                    <label class="create-at"></label>
                </span>
            </div>
            <img class="question-image" src="<%= data %>"/>
        </div>
    </script>
    <script type="text/template" id="writing-template">
        <div class="writing">
                <span class="user">
                    <img class="user-portrait" src="<%= headUrl %>"/>
                    <div class="nickname"><%= nickname %></div>
                </span>
                <span>
                    <label class="create-at"></label>
                    <label class="question-label">
                        <% if ( typeId == 2 ) { %>
                            出题：
                        <% } else { %>
                            猜到：
                        <% } %>
                        <%= data %></label>
                </span>
        </div>
    </script>
</body>
</html>
